@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.navbar {
  display: flex;
  margin-top: 48px;
}

.logo {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  width: 426px;
  height: 44px;
  font-size: 2rem;
  font-weight: light;
  font-style: italic;
  font-family: "Inter", sans-serif;
  border-radius: 29px;
  border: solid 2px black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.add-book {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-right: auto;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 80px;
}

.card {
  width: 252.01px;
  height: 356px;
  border-radius: 24.4px;
  background-color: rgba(181, 183, 187, 31%);
}

.book-cover {
  width: 138.3px;
  height: 202.7px;
}

dialog > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

form input {
  width: 250px;
  height: 30px;
}
